
.add-more{

    text-align: center;
    background: #e5e5e5;
    line-height: 40px;
}
.no-more{
  background: #e5e5e5;
  text-align: center;
    color:#ccc;
    line-height: 40px;
}
*{
  font-family: "microsoft yahei",sans-serif; 
  font-size: 12px;
}
p{
  font-size: 12px;
}
header.mui-bar{
  background: #006FAF;
}
header .mui-title,header a{
  color:#FFFFFF;
}
.mui-grid-view.mui-grid-9 .mui-media{
  color:#3da9fe;
  background: #FFFFFF;
  padding: 5px;
}
.mui-grid-view.mui-grid-9 .mui-media .mui-icon{
  font-size: 4.4em;
}
/*.mui-grid-view.mui-grid-9 .mui-table-view-cell>a:not(.mui-btn)*/
.mui-grid-view.iconfont-list .mui-table-view-cell>a:not(.mui-btn){
	padding: 5px 0;
}
.mui-fullscreen .mui-slider-item>a {
  top: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.list .mui-table-view-cell.mui-media .mui-media-object {
  width: 100px;
  height: 75px;
  max-width: 100px;
}
.info{
  color:#0062CC;
}
.info .mui-badge{
  margin-top: 12px;
  color: #FFFFFF;
} 
.info .price{
  color:#CF2D28;
  float: right;
  margin-top: 9px;
}
.info .price b{
  font-size: 20px;
}

/**icon font*/
@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  /*-moz-osx-font-smoothing: grayscale;*/
}
.icon-xianluxuanxiangqiaguonei:before { content: "\e6b3"; }
.icon-xianluxuanxiangqiaguoji:before { content: "\e6c9"; }
.icon-gongnengyeshequhaoyouhudong:before { content: "\e6b3"; }
.icon-xianluxuanxiangqiaziyouxing:before { content: "\e624"; }
.icon-jipiao:before { content: "\e69a"; }
.icon-jiudian:before { content: "\e69f"; }
.icon-near:before { content: "\e602"; }
.icon-fujinyingyuan:before { content: "\e618"; }
.icon-xianluxuanxiangqiatejia:before { content: "\e61e"; }
.icon-icon:before { content: "\e601"; }
.icon-tuijianxiangao:before { content: "\e612"; }
.icon-fenleituijian:before { content: "\e60d"; }
.icon-tuijian02:before { content: "\e61c"; }
.icon-zhuce:before { content: "\e60e"; }
.icon-dengluqq:before { content: "\e602"; }
.icon-dengluweixin:before { content: "\e601"; }
.icon-shoujizhuce:before { content: "\e607"; }
.icon-youxiangzhuce:before { content: "\e609"; }
.icon-dingjiatianxiejiage:before { content: "\e604"; }
.icon-dengluweibo:before { content: "\e600"; }
.icon-gouwuche:before { content: "\3475"; }
.icon-gouwuche1:before { content: "\e6c9"; }
.icon-1:before { content: "\e60a"; }
.icon-xingcheng:before { content: "\e624"; }
.icon-xitongtixing:before { content: "\e6c7"; }
.icon-icon4:before { content: "\e604"; }
.icon-remenchanpin:before { content: "\e72d"; }


.user-info {
	text-align: left;
	padding: 20px 10px 10px;
	text-indent: 6px;
}
.user-info img{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	overflow: hidden;
}
a.mui-navigate-right.mui-ellipsis{
	color: #CCCCCC;
}
span.left-desc {
	padding-left: 5px;
	color: #666;
}

.mui-bar .tit-sort{
	left: 0;
	right: 0;
	margin-top: 40px;
	background: #1D85D0;
}
.tit-sort .mui-grid-view.mui-grid-9 .mui-table-view-cell>a:not(.mui-btn){
	padding: 0;
}
li.mui-table-view-cell.mui-media.mui-col-xs-4.active {
	border-bottom: 2px solid #3DA9FE;
}
span.detail-title {
	font-size: 18px;
	color: #29A4E4;
}
.plan-list li {
	padding:10px 15px;
}
#popover{
	width: 90%;
	top:5%;
	left: 5%;
}
.submit-order .mui-input-row{
	margin-bottom: 5px;;
}

.mui-bar-community {
  bottom: 0;
  display: table;
  width: 100%;
  height: 50px;
  padding: 0;
  table-layout: fixed;
  border-top: 0;
  border-bottom: 0;
  -webkit-touch-callout: none;
}

.reply-list{
  padding:10px; 
  background:#fff;
}
.reply-list .reply-item{
  border-bottom:1px solid #dedede;
  display: inline-block;
  color: #8F8F94;
  width: 100%;
}
.reply-block {
border: 1px solid #DDD;
background: #EEE;
padding: 3px;
margin: 1px;
}
.reply-content{
  height: 70%;
  background: #DDD;
  position: fixed;
  bottom: 0;
  z-index: 666;
  width: 100%;
  overflow: scroll;
  padding: 10px;
}
.reply-content-tit{
  text-align: center;
  width: 80%;
  position: absolute;
  font-size: 14px;
  color: #000;
}
.font-face{
  /*text-align: center;*/
}
.font-face span{
  border:1px solid #ccc;
  padding: 4px;
}
.reply-user-info{
  margin-bottom: 10px;
}

h5.show-content {
  text-align: center;
  background: #007AFF;
  padding: 10px;
  color: #FFF;
  margin-bottom:0;
}
.content-detail{
  /*display: none;*/
  background: #FFF;
  padding: 10px;
}
.content-detail img{
  max-width: 100%;
}